/* Hintergrundfarbe der gesamten Seite */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, #8634e3e4, #6a79eb); /* Farbverlauf für die Navbar */ /* Farbverlauf */
    color: white;
    min-height: 100vh; /* Deckt den gesamten Bildschirm ab */
    display: flex;
    flex-direction: column;
}
 